#modal {
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: rgb(230, 229, 229);
  height: 700px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0px #000000;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#modal__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Overlay */
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Modal contents */
#pick-block {
  /* Pick board */
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 7px solid rgb(63, 63, 63);
  border-left-color: rgb(88, 88, 88);
  border-bottom-color: rgb(109, 109, 109);
  border-right-color: rgb(150, 150, 150);
}

#piece-container {
  /* Piece(ship) to be dragged container */
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#piece {
  /* Piece(ship) to be dragged */
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

#piece .cell {
  /* Piece cells */
  background-color: rgb(59, 59, 59);
  height: 30px;
  width: 30px;
}

#buttons {
  /* Random/Start buttons container */
  display: flex;
  gap: 30px;
}

#buttons button {
  /* Random/Start buttons */
  width: 110px;
}

@media only screen and (min-width: 768px) {
  #modal {
    height: 800px;
    width: 500px;
  }

  #modal__window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  #buttons button {
    width: 130px;
    height: 40px;
    font-size: large;
  }
}