@font-face {
  font-family: 'MyFont';
  src: url(./AlfaSlabOne-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 226, 224);
  display: grid;
  grid-template-rows: 7% 90% 3%;
  height: 98vh;
}

header {
  font-family: 'MyFont';
  text-align: center;
  font-size: 3rem;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 17px 5px rgb(163, 163, 163);
}

/* Content */
#content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 50% 50%;
  position: relative;
}

#first-block,
#second-block {
  width: 280px;
  height: 280px;
  border: 7px solid rgb(63, 63, 63);
  border-left-color: rgb(88, 88, 88);
  border-bottom-color: rgb(109, 109, 109);
  border-right-color: rgb(150, 150, 150);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-shadow: 5px 5px 15px rgb(96, 98, 99);
}

.cell,
.miss,
.hit {
  border: 1px solid gray;
}

#second-block .cell:hover {
  background: url('./target.png');
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-color: rgba(102, 94, 94, 0.233);
}

.hit {
  background: url('./hit.png');
  background-color: rgba(102, 94, 94, 0.233);
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer */
a {
  text-decoration: none;
}

#footer {
  grid-row: 3 / 4;
  width: 100%;
  background-color: var(--dark-color);
}

.git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 100%;
  gap: 10px;
}

#new-game {
  position: absolute;
  /* bottom: 48%; */
  align-items: center;
  justify-self: center;
  background-color: rgba(236, 227, 227, 0.233);
  border: 5px solid rgb(63, 63, 63);
  border-left-color: rgb(88, 88, 88);
  border-bottom-color: rgb(109, 109, 109);
  border-right-color: rgb(150, 150, 150);
  font-family: 'MyFont';
  font-size: 1rem;
  cursor: pointer;
}

#new-game:active {
  background-color: rgba(107, 100, 100, 0.233);
}

/* Desktop */
@media only screen and (min-width: 768px) {
  header {
    padding-top: 80px;
    font-size: 6rem;
  }

  #content {
    grid-template-columns: 50% 50%;
    display: flex;
    justify-content: center;
    gap: 10%;
  }

  #first-block,
  #second-block {
    width: 350px;
    height: 350px;
  }

  #new-game {
    border-width: 5px;
    bottom: 8%;
    font-size: 1.5rem;
  }
}