@font-face {
  font-family: 'MyFont';
  src: url(./AlfaSlabOne-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 226, 224);
  display: grid;
  grid-template-rows: 10% 85% 5%;
  height: 98vh;
}

header {
  font-family: 'MyFont';
  text-align: center;
  font-size: 2.5rem;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Content */
#content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 50% 50%;
}

#first-block,
#second-block {
  width: 280px;
  height: 280px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(10 1fr); */
}

.cell,
.miss,
.hit {
  border: 1px solid gray;
}

#second-block .cell:hover {
  /* border: 1px solid rgb(61, 5, 5); */
  background-color: rgba(0, 0, 0, 0.267);
}

.miss {
  background-color: rgba(102, 94, 94, 0.233);
}

.hit {
  color: rgb(134, 17, 17);
  background-color: rgba(219, 76, 76, 0.438);
}

/* Footer */
a {
  text-decoration: none;
}

#footer {
  grid-row: 3 / 4;
  width: 100%;
  background-color: var(--dark-color);
}

.git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 100%;
  gap: 10px;
}